.modaal-container {
  color: #000;
  background: #d0d0d0;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  width: 50vh;
  }
.modaal-content-container{
  display: flex;
  flex-direction: column;

}
.modaal-wrapper .modaal-close{
  background-color: #000;
  border: solid;
  border-width: 5px;
  border-color: #99e319;
}
.modaal-close:before, .modaal-close:after{
  top: 10px;
  left: 18px;
}
.modaal-close {
  border-radius: 0;
  right: 5%;
  top: 5%;
}
.modaal-gallery-control{
  border-radius: 0;
}



@media screen and (min-width: 600px) {
  .modaal-image .modaal-inner-wrapper {
    padding-left: 50px;
    padding-right: 50px; }

}
@media screen and (min-width: 700px) {
  .modaal-image .modaal-inner-wrapper {
    padding-left: 100px;
    padding-right: 100px; }
}
@media screen and (min-width: 800px) {
  .modaal-image .modaal-inner-wrapper {
    padding-left: 150px;
    padding-right: 150px; }
}
@media screen and (min-width: 900px) {
  .modaal-image .modaal-inner-wrapper {
    padding-left: 200px;
    padding-right: 200px; }
}
@media screen and (min-width: 1000px) {
  .modaal-image .modaal-inner-wrapper {
    padding-left: 250px;
    padding-right: 250px; }
}
@media screen and (min-width: 1100px) {
  .modaal-image .modaal-inner-wrapper {
    padding-left: 300px;
    padding-right: 300px; }
}
@media screen and (min-width: 1200px) {
  .modaal-image .modaal-inner-wrapper {
    padding-left: 350px;
    padding-right: 350px; }
}
@media screen and (min-width: 1300px) {
  .modaal-image .modaal-inner-wrapper {
    padding-left: 400px;
    padding-right: 400px; }
}
@media screen and (min-width: 1400px) {
  .modaal-image .modaal-inner-wrapper {
    padding-left: 450px;
    padding-right: 450px; }
}
@media screen and (min-width: 1500px) {
  .modaal-image .modaal-inner-wrapper {
    padding-left: 500px;
    padding-right: 500px; }
}