
.header-main-nav {

}

    .header-nav-list {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 13px;
        letter-spacing: .025em;
    }

        .header-nav-item + .header-nav-item {
            margin-left: 20px;
        }

            .nav-contact-link {
                display: inline-block;
            }

            .nav-instagram-link{
                display: inline-block;
            }

            .nav-copyright-link{
                display: inline-block;
            }

            .nav-icon{
                height: 30px;
            }
                .nav-icon-style{
                    transition: 0.5s;
                    fill: #7f7f7f;
                }
                .nav-icon-description{
                    transition: 0.5s;
                    color: #7f7f7f;
                    position: relative;
                    top: 2px;
                }
                    .nav-contact-link:hover .nav-icon-style {
                        fill: #fff;
                    }
                    .nav-contact-link:hover .nav-icon-description {
                        color:#fff
                    }
                    .nav-instagram-link:hover .nav-icon-style {
                         fill: #fff;
                    }
                    .nav-instagram-link:hover .nav-icon-description {
                        color: #fff;
                    }
                    .nav-copyright-link:hover .nav-icon-style {
                        fill: #fff;
                    }
                    .nav-copyright-link:hover .nav-icon-description {
                        color: #fff;
                    }

@media screen and (min-width:100px){
    .nav-icon-description {
        display: none;
    }
}

@media screen and (min-width:700px){

}

@media screen and (min-width: 1200px) {
    .nav-icon-description {
        display: unset;
    }
    .header-main-nav{
        margin-top: 80px;
    }
    .header-nav-list {
        flex-direction: column;
        margin: 0;
    }
    .header-nav-item {
        width: 190px;
    }
    .header-nav-item + .header-nav-item {
        margin: 0;
        margin-top: 5px;
        padding-left: 0;
    }
    .nav-icon {
        margin-right: 5px;
    }
}
