
.page {
    min-height: 100vh;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    color: #575757;
}

    .page-header {
        padding: 40px 40px 0 40px;
        background-color: #1b1b1b;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: flex-end;
    }


    .page-main {
        flex-grow: 1;
        background: #F5F4F2;
        padding: 80px 40px 0 40px;
        text-align: left;
    }
        .page-main-items {}

            .page-main-text-item{}

                .page-main-content {}


    .page-footer {
        padding:0 40px 0 40px;
        background: #1b1b1b;
        height: 80px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

        .page-footer-copyright {
            align-items: flex-start;
            padding-right: 50px;
            color: #d5d5d5;
        }

        .page-footer-impress-link {
        }



@media screen and (min-width: 150px) {
    .page-header {
        padding:30px 30px;
    }
    .page-main {
        padding: 40px 30px;
        padding-bottom: 0;
    }
    .page-footer {
        padding: 0 10px 0 10px;
    }
}

@media screen and (min-width: 500px) {
    .page-header {
        padding:30px 50px;
    }
    .page-main {
        padding: 40px 50px;
        padding-bottom: 0;
    }
    .page-footer {
        padding: 0 50px;
    }
}

@media screen and (min-width: 1000px) {
    .page-header {
        padding:40px 70px;
    }
    .page-main {
        padding: 60px 70px;
    }
    .page-footer {
        padding: 0 70px;
    }
}

@media screen and (min-width: 1200px) {
    .page {
        margin-left: 240px;
    }
    .page-header {
        padding:40px;
        padding-bottom: 0;
        position: fixed;
        left:0;
        top:0;
        height: 100vh;
        flex-direction: column;
        align-items: flex-start;
        width: 240px;
        background-color: #1b1b1b;
    }

    .page-main {
        padding: 50px 100px;
    }
    .page-footer {
        padding: 20px 40px;
        position: fixed;
        width: 240px;
        height: 100px;
        left:0;
        bottom:0;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
    }
    .page-footer-impress-link {
        padding-top: 10px;
    }
    .page-footer-copyright {
        padding:0;
    }
}