.header-logo {
    margin-right: auto;
}
    .header-logo-link {
        display: inline-block;
    }

        .header-logo-image {
            height: 60px;
        }
            .header-logo-style{
                transition: 0.5s;
                fill: #ffffff;
            }
            .header-logo-image:hover .header-logo-style {
                fill: #7f7f7f;
            }

@media screen and (min-width: 150px) {

    .header-logo-image {
        height: 45px;
    }

}

@media screen and (min-width: 336px) {

    .header-logo {
        padding-bottom: 0;
    }

}

@media screen and (min-width: 500px) {

    .header-logo-image {
        height: 50px;
    }

}

@media screen and (min-width: 1000px) {

    .header-logo-image {
        height: 60px;
    }

}

@media screen and (min-width: 1200px) {

    .header-logo {
        margin: 0;
    }
    .header-logo-image {
        padding: 0;
    }
    .header-logo-image:hover .header-logo-style {
        fill: #7f7f7f;
    }
}