.page-logo {
    margin-right: auto;
}
    .page-link {
        display: inline-block;
    }

        .page-logo-image {
            height: 40px;
            padding: 0 10px 0 0;
        }
        .page-logo-style{
            transition: 0.5s;
        }
        .logo-style {
            fill: #575757;
        }

        .page-logo-image:hover .logo-style {
            fill: #fd3d00;
        }

@media screen and (min-width: 150px) {

    .page-logo {
        padding-bottom: 10px;
    }

    .page-logo-image {
        height: 45px;
    }

}

@media screen and (min-width: 336px) {

    .page-logo {
        padding-bottom: 0;
    }

}

@media screen and (min-width: 500px) {

    .page-logo-image {
        height: 50px;
    }

}

@media screen and (min-width: 1000px) {

    .page-logo-image {
        height: 60px;
    }

}

@media screen and (min-width: 1200px) {

    .page-logo {
        margin: 0;
    }
    .page-logo-image {
        padding: 0;
    }
    .logo-style {
        fill: #d5d5d5;
    }

}