
.page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

    .page-header {
        padding: 20px 20px;
        background-color: #F5F4F2;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
    }

    .page-main {
        flex-grow: 1;
        background: #F5F4F2;
        padding: 20px;
        padding-top: 0;
        text-align: left;
    }
        .page-main-items {}

            .page-main-text-item{}

                .page-main-content {}


    .page-footer {
        padding-left: 20px;
        padding-right: 20px;
        background: #575757;
        height: 75px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

        .page-footer-copyright {
            align-items: flex-start;
            padding-right: 50px;
            color: #BCB693;
        }

        .page-footer-impress-link {
        }

        .page-footer-instagram-link {
            margin-left: auto;
        }

        .page-footer-instagram-logo {
            height:50px;
            text-decoration: none;
            color: #BCB693;
        }

