
.main-nav {
}

.nav-list {
    list-style-type: none;
    margin: 0 20px 0 0;
    padding: 0;
    display: flex;
}

.nav-item {
    margin: 0 0 0 0;
}

.nav-text {
    display: block;
}

.nav-contact-logo {

}
