
.page-main-portfolio {
    padding: 20px 0 0 0;
}

    .portfolio-list {
        margin: 0;
        padding: 0 0 20px 0;
        list-style-type: none;
        column-count: 1;
        column-gap: 0;
        column-fill: balance;
    }

        .portfolio-item {
            width: 100%;
            height: auto;
            float: left;
        }

            .portfolio-content {
                position: relative;
                padding: 0;
                margin: 0;
            }

                .portfolio-image {
                    display: block;
                    margin-top: 0;
                    max-width: none;
                    width: 100%;
                }

                .img-description {
                    opacity: 0;
                    position: absolute;
                    width: 100%;
                    color: #d5d5d5;
                    bottom:0;
                    padding:5px 5px;
                    background-color: #575757;
                }

            .portfolio-content:hover .img-description {
                opacity: 1;
            }

@media screen and (min-width: 500px) {

    .portfolio-list {
        column-count: 2;
    }

    .portfolio-item {
        width: 50%;
    }
}

@media screen and (min-width: 1000px) {

    .portfolio-list {
        column-count: 3;
    }

    .portfolio-item {
        width: 33.334%;
    }
}

@media screen and (min-width: 1400px) {

    .portfolio-list {
        column-count: 4;
    }

    .portfolio-item {
        width: 25%;
    }
}