
.main-nav {
}

.nav-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.nav-item {
    padding: 0 20px 0 0;
}

    .nav-contact-logo {
        display: inline-block;
    }
        .contact-logo-image {
            height: 30px;
        }

        .contact-logo-style{
            transition: 0.5s;
        }
        .contact-logo {
            fill: #00e852;
        }

        .contact-logo-image:hover .contact-logo {
            fill: #d5d5d5;
        }


.page-instagram-logo{

}

    .page-instagram-link{
        display: inline-block;
    }
    .instagram-logo-image{
        height: 30px;
    }

    .instagram-logo-style {
        transition: 0.5s;
    }

    .instagram-logo {
        fill: #00e852;
    }

    .instagram-logo-image:hover .instagram-logo {
        fill: #d5d5d5;
    }

@media screen and (min-width: 1200px) {
    .nav-list {
        margin: 0;
        padding: 80px 0 0 0;
    }

    .page-instagram-logo {

    }

    .contact-logo {
        fill: #00e852;
    }
    .contact-logo-image:hover .contact-logo {
        fill: #d5d5d5;
    }

    .instagram-logo {
        fill: #00e852;
    }
    .instagram-logo-image:hover .instagram-logo {
        fill: #d5d5d5;
    }
}
