.img-filter {

}

    .filter-btn-box {
        text-align: left;
        margin: 0;
        padding: 0;
    }

        .filter-btn {
            border-radius: 0;
            border: none;
            outline: none;
            padding: 0;
            color: #000;
            background-color: unset;
            cursor: pointer;
            font-family: 'Nunito', sans-serif;
            transition: 0.5s;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 13px;
            letter-spacing: .025em;
        }
        .filter-btn + .filter-btn {
            margin-left: 16px;
        }
        .filter-btn:hover {
            color: #7f7f7f;
        }

            .filter-icons{
                height: 30px;
                margin-right: 5px;
            }
            .filter-icons-style{
                transition: 0.5s;
                fill: #000;
            }
            .filter-btn:hover .filter-icons-style {
                fill: #7f7f7f;
            }
            .filter-text {
                position: relative;
                top: 2px;
            }
        .active .filter-icons-style {
            fill: #fff;
        }
        .active {
            color: #fff;
        }

        .show {
            display: block;
        }


@media screen and (min-width:100px){
    .filter-text {
        display: none;
    }
}
@media screen and (min-width:700px){
    .filter-text {
        display: unset;
    }
}
@media screen and (min-width:1200px){
    .filter-btn-box{
        text-align: right;
    }
}