.img-filter {

}
    .filter-icons-box{
        text-align: right;
    }
        .filter-icons{
            height: 30px;
        }
        .filter-icons-style{
            transition: 0.5s;
            fill: #3f3f3f;
        }
        .filter-icons:hover .filter-icons-style {
            fill: #bfbfbf;
        }


    .filter-btn-box {
        text-align: right;
    }

        .filter-btn {
            margin: 5px 0 0 0;
            border-radius: 0;
            border: none;
            outline: none;
            padding: 5px 10px;
            color: #000000;
            background-color: #bfbfbf;
            cursor: pointer;
            font-family: 'Nunito', sans-serif;
            transition: 0.5s;
        }

        .filter-btn:hover {
            color: #bfbfbf;
            background-color: #3f3f3f;
        }

        .active /*.filter-btn:hover*/{
            color: #ffffff;
            background-color: #000000;
        }

        .show {
            display: block;
        }