.text-content {
        display: none;
    }

    .text-content-button{
        padding: 0;
        background-color: #d5d5d5;
    }
    .text-logo-link{
        margin-bottom: 50px;
    }
.text-h1 {
    margin: 0;
    margin-bottom: 50px;
}

.text-h2 {
    margin: 0;
    margin-bottom: 10px;
}

.text-p {
    margin: 0;
    margin-bottom: 30px;
}

.about_me_img {
    height: 100px;
}
.text-logo-link{
    display: inline-block;
}
.text-logo-image{
    height: 60px;
}
    .text-logo-style {
        transition: 0.5s;
        fill: #000;
    }
