/*.page {
    color: #000000;
}

.page-header {
    background-color: #000000;
}

.page-main {
    background-color: #d0d0d0;
}

.page-footer {
    background-color: #000000;
}

.header-logo-style {
    fill: #00ff00;
}

.header-logo-image:hover .header-logo-style {
    fill: #007f00;
}

.contact-icon-style{
    fill: #7f7f7f;
}
.nav-contact-link:hover .contact-icon-style{
    fill: #bfbfbf;
}

.instagram-icon-style{
    fill: #7f7f7f;
}
.nav-instagram-link:hover .instagram-icon-style{
    fill: #bfbfbf;
}

.filter-btn {
    color: #000000;
    background-color: #d0d0d0;
}

.filter-btn:hover {
    color: #bfbfbf;
    background-color: #3f3f3f;
}

.filter-icon-style {

.active{
    color: #00ff00;
    background-color: #000000;
}

.page-footer-copyright {
    color: #bfbfbf;
}

a {
    color: #3f3f3f;
}

.footer-link-style {
    color: #bfbfbf;
}

.footer-link-style:hover {
    color: #ffffff;
}


.modaal-close:focus, .modaal-close:hover {
    outline: none;
    background: #00ff00; }
.modaal-close:focus:before, .modaal-close:focus:after, .modaal-close:hover:before, .modaal-close:hover:after {
    background: #000000; }
.modaal-gallery-control:focus, .modaal-gallery-control:hover {
    outline: none;
    background: #00ff00; }
.modaal-gallery-control:focus:before, .modaal-gallery-control:focus:after, .modaal-gallery-control:hover:before, .modaal-gallery-control:hover:after {
    background: #000000; }