.page {
    color: #000000;
}

.page-header {
    background-color: #2f2f2f;
}

.page-main {
    background-color: #fff;
}

.page-footer {
    display: none;
    background-color: #2f2f2f;
    flex-direction: column;
    align-items: flex-end;
}

.header-logo-style {
    fill: #99e319;
}

.header-logo-image:hover .header-logo-style {
    fill: #fff;
}

.nav-icon-style{
    fill: #99e319;
}
.nav-icon-description{
    color: #99e319;
}
.filter-btn {
    color: #2f2f2f;
    background-color: #fff;
}

.filter-btn:hover {
    color: #99e319;

}
.filter-icon-style {
    fill: #000;
}
.filter-btn:hover .filter-icons-style {
    fill: #99e319;
}
.active .filter-icons-style {
    fill: #99e319;
}

.active{
    color: #99e319;
    ;
}
.modaal-gallery-control:before, .modaal-gallery-control:after{
    background-color: #99e319;
}
.modaal-close:before, .modaal-close:after{
    background-color: #99e319;
}

.modaal-close:focus, .modaal-close:hover {
    outline: none;
    background: #99e319; }
.modaal-close:focus:before, .modaal-close:focus:after, .modaal-close:hover:before, .modaal-close:hover:after {
    background: #000000; }
.modaal-gallery-control:focus, .modaal-gallery-control:hover {
    outline: none;
    background: #99e319; }
.modaal-gallery-control:focus:before, .modaal-gallery-control:focus:after, .modaal-gallery-control:hover:before, .modaal-gallery-control:hover:after {
    background: #000000; }